:root {
	--iris: #4D5AE5;
	--ocean: #404BBF;
	--navy-blue: #2E2F42;
	--green: #31D0AA;
	--slate: #434455;
	--light-slate: #8E8F99;
	--cornflower: #E7E9FC;
	--cloud: #F4F4FD;
	--navy-blue-modal: #2E2F42 40%;
	--grey: #2E2F42 70%;
	--white: #FFFFFF;
	--dairy: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    color:var(--slate);
    background-color: var(--white) ;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}
.img {
    display: block;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
 /* Header styles */
 .header {
    border-bottom: 1px solid  var(--cornflower);


 }
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-container {
    display: flex;
    align-items: center;
}
.logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}
.header-logo {
     margin-right: 76px;
}
.header  .logo_span {
    color: var(--navy-blue);
}

.nav_list_item {
    display: inline-block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue) ;
}

.nav-list {
    display: flex;
    gap: 40px;
    

}

.nav-list .link:hover{
    color: var(--ocean);
}
.nav-list .link:focus {
    color: var(--ocean);
}
.add-ress {
    font-style: normal
}
.add_style {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.add-list {
    display: flex;
    gap: 40px;
    margin: 0;
}
.add-list .link:hover {
    color: var(--ocean);
}
.add-list .link:focus {
    color: var(--ocean);
}

/* Hero styles */
.hero-section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
     url(../images/hero-section/people-office-compessed.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    background-color: var(--navy-blue);
    padding: 188px 0;
}
.overlay {
   
}
.hero_title {
    display: block;
    margin: 0 auto 48px auto;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    
    }
    .hero_btn {
        display: block ;
        margin: 0 auto;
        min-width: 169px;
        min-height: 56px;
        border: none;
        border-radius: 4px;
        background-color: var(--iris);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white);
        cursor: pointer;
    }
    .hero .hero_btn:hover,
    .hero .hero_btn:focus {
       background-color:  var(--ocean);  
    }
    /* Qualities section styes */
    .qualities_section {
        padding: 120px 0;
    }
    .qualities_section-list {
        display: flex;
        gap: 24px;
        
    }
    .qualities_section_item {
        width: calc((100% - 72px) / 4);
        
    }
    .qualities_section_item_title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue) ;
    }
    .qualities_section_item_txt {
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    /*About section styles*/
    .about_section {
        padding-bottom: 120px;
    }
    .about_section_title {
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue) ;
    }

    .about_section_list {
        display: flex;
        gap: 24px;
    }
    .about_section_item {
        width: calc((100% - 48px) / 3);
    }
    /* Team section */
    .team_section {
        padding: 120px 0;
        background-color:  var(--cloud);
    }
    .team_section_title {
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color:  var(--navy-blue) ;
    }
    .team_section_list {
        display: flex;
        gap: 24px;
    }
    .team_section_list_item {
        background-color:  var(--white) ;
        border-radius: 0px 0px 4px 4px;
    }
    .emp-name {
        padding: 32px 16px;
        border-radius: 0px 0px 4px 4px;
    }
    
    .team_section_list_item_ttl {
        display: block;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--navy-blue);
    }
    .team_section_list_item_txt {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    /* Portfolio */
    .portfolio-section {
        padding: 96px 0 120px;
    }
    /* Options section styles  */
    .options_section_btn_list {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
    }
    
    .options_section_btn {
        padding: 12px 24px;
        border: 1px solid var(--cornflower);
        border-radius: 4px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color:  var(--cloud);
        color: var(--iris);
        cursor: pointer;
    }

    .options_section_btn:hover,
    .options_section_btn:focus {
        color: var(--white);
    }
    .options_section_btn:hover,
    .options_section_btn:focus {
        border: 1px solid transparent ;
     background-color: var(--ocean);
    }
    .options_section_list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }
    .options_section_item {
        width: calc((100% - 48px) / 3); 
    }
    
    .card-description {
        padding: 32px 16px;
        border: 1px solid var(--cornflower);
        border-top: none; 
        
    }
    .options_section_item_title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }
    .options_section_item_txt {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
        ;
    }
    /* Footer */
    .footer {
        padding: 100px 0;
        background-color: var(--navy-blue);
    }
    
    
    .footer-logo {
        display: inline-block;
        margin-bottom: 16px;

    }
    .footer .logo_span {
        color:  var(--cloud);  
      }
      
    .footer-txt {
        width: 264px;
        color: var(--cloud);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
